body{
	background-color: #dbd7d3;
	color: #555;
	font-family: Arial,Helvetica;
	font-size: 16px;
	line-height: 1.6em;
	margin: 0;
}
.contact-body{
	color: #555;
	font-family: Arial,Helvetica;
	font-size: 16px;
	line-height: 1.6em;
	margin: 0;
  background: url("contact.jpeg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}
.grid-item1{
	background-position: center center;
}
span{
    font-size: 20px;
    font-weight: 600;
    position: relative;
    padding-bottom:4px;
    text-decoration: underline;
    text-align: left;
    color: black;
  }

.about img {
  	border-radius: 50%;
	width:140px; /* you can use % */
    height:170px;
    }
.container{
	
	margin: auto;
	overflow: hidden;
	color: black;
}

.home{
    height:70vh;
    width:100%;
   <!-- background-image: url('wallpaper1.jpeg'); -->
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
  }
  .home .home-content{
    width:90%;
    height:100%;
    margin:auto;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .home .text1{
  	padding-top: 40px;
    font-size:25px;
    padding-bottom: 30px;
  }
  .home .text2{
    font-size: 75px;
    font-weight: 600;
    margin-left: -3px;
  }



.about{
	background-size: cover;
     background-position: center center;
    background-attachment: fixed;
	margin: auto;
	overflow: hidden;
	color: black;
	position: relative;
  width: 500px;
  height: 800px;
  

}

.gallery{
	background-size: cover;
     background-position: center center;
    background-attachment: fixed;
	margin: auto;
	overflow: hidden;
	color: black;
	position: relative;
	padding: 60px;
  
}
.gallery img{
	width:500px;
    height:500px;
    border: black;
    padding: 30px;

    border-radius: 10%;
}
.contact1{

    border-radius: 5px;
  
  padding: 20px;
	background-position: center right;
	font-size: 20px;
	text-align: center;

}

.navbar1 .curr{
	padding: 5px;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-radius: 5px;
	background-color: whitesmoke;
	text-decoration: underline;
	color: white;
}

.Welcome{
	position: absolute;
	top: 60%;
}

#main-header{
	
	color: black;
}
.navbar1{
	background-color: grey;
	padding: 10px;

}

.navbar1 a{
	padding: 10px;
}

#navbar{
	padding-left: 20px;
	color: whitesmoke;
}

#navbar ul{
	padding: 0;
	list-style: none;
	color: whitesmoke;

}

#navbar li{
	display: inline;
	color: whitesmoke;
}
#navbar a{
	color: black;
	text-decoration: none;
	font-size: 18px;
	padding-right: 15px;
}
#showcase{

	 <!--background-image: url('wallpaper1.jpeg'); -->
	 padding-top: 40px;
	background-position: center right;
	
	text-align: center;


}

#showcase h1{
	color: black;

	font-size: 60px;
	font-family: cursive;
	line-height: 1,6em;
	padding-top: 30px;
}
#main{
	float: left;
	width: 70%;
	padding: 0 30px;
	box-sizing: border-box;
}
#sidebar{
	float: right;
	width: 30%;
	background: #333;
	color: #fff;
	padding: 10px;
	box-sizing: border-box;
}
#main-footer{
	
	text-align: center;
	padding: 20px;
	margin-top: 40px;
}
@media(max-width: 600px){
	#main{
		width: 100%;
		float: none;
	}
	#sidebar{
		width: 100%;
		float: none;
	}
}